.navbar {
    background: linear-gradient(to top right, #006db3 10%, #039be5);
}

.navbar a h1 {
    color: #fff;
}

#realizarTransferencia, #ultimosMovimientos, #verBonos, #comprarBonos {
    display: none;
}

.menu {
    background: linear-gradient(to top right, #006db3 10%, #039be5);
    padding-left: 0.5em;
    padding-top: .5em;
    padding-bottom: .5em;
    border-radius: 4px;
    box-shadow: 0 0 5px 2px #ccc;
}

.menu p {
    background-color: #fffffd;
    padding: 0.3em 0.2em;
    border-radius: 3px 0 0 3px;
    box-shadow: -2px 1px 6px 0px #353535;
}

.menu a {
    color: #fff;
}

.primary-color {
    background: linear-gradient(to top right, #006db3 10%, #039be5);
    color: #fff;
}

.primary-color:hover {
    color: #fff;
}

.input:focus {
    border-color: linear-gradient(to top right, #524ad0 10%, #d099fa) !important;
}

a {
    color: #fff;
    text-decoration: none;
}

.main-wrapper {
    margin-top: 1.5em;
}

.insuficiente {
    color: red;
    border-color: red;
}

.modal-content {
    background-color: #fff;
    border-radius: 4px;
    padding: 1.2em;
    color: #c8102e;
}

.no-mostrar {
    display: none;
}

.main-buttons {
    text-align: center;
}

.main-buttons button {
    vertical-align: middle;
    margin: 0.5em 0;
}