.navbar {
    background: linear-gradient(to top right, #006db3 10%, #039be5);
}

.navbar a h1 {
    color: #fff;
}

.primary-color {
    background: linear-gradient(to top right, #006db3 10%, #039be5);
    color: #fff;
}

.primary-color:hover {
    color: #fff;
}

.input:focus {
    border-color: linear-gradient(to top right, #524ad0 10%, #d099fa) !important;
}

a {
    color: #fff;
    text-decoration: none;
}

.main-wrapper {
    margin-top: 1.5em;
}

.insuficiente {
    color: red;
    border-color: red;
}

.modal-content {
    background-color: #fff;
    border-radius: 4px;
    padding: 1.2em;
    color: #c8102e;
}

.no-mostrar {
    display: none;
}

.main-buttons {
    text-align: center;
}

.main-buttons button {
    vertical-align: middle;
    margin: 0.5em 0;
}